# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/alurapic/dist
/alurapic/tmp
/alurapic/out-tsc


# dependencies
/alurapic/node_modules

# IDEs and editors
/alurapic/.idea
/alurapic/.project
/alurapic/.classpath
/alurapic/.c9/
/alurapic/*.launch
/alurapic/.settings/
/alurapic/*.sublime-workspace

# IDE - VSCode
/alurapic/.vscode/*
/alurapic/!.vscode/settings.json
/alurapic/!.vscode/tasks.json
/alurapic/!.vscode/launch.json
/alurapic/!.vscode/extensions.json

# misc
/alurapic/.sass-cache
/alurapic/connect.lock
/alurapic/coverage
/alurapic/libpeerconnection.log
/alurapic/npm-debug.log
/alurapic/yarn-error.log
/alurapic/testem.log
/alurapic/typings

# System Files
/alurapic/.DS_Store
/alurapic/Thumbs.db
